<HTML>
<% var help = "ok" %>
<TITLE><%= title %></TITLE>
<% if( help != "dat" ){ %>
    <BODY>
    <p>Sample data</p>
    <%# just ignore this %>
    <p>Sample data</p>
    </BODY>
<% }else{ %>
    <p>real data</p>
<% } %>
</HTML>
