<HTML>
    <TITLE><%= title %></TITLE>
    <% if( person != "david" ){ %>
        <BODY>
            <p>Sample data</p>
            <%# just ignore this %>
            <p>Sample data: <%= task %></p>
        </BODY>
    <% }else{ %>
        <% for(var i = 0; i < 3; i++){ %>
            <p>real data: <%= task %></p>
        <% } %>
    <% } %>
</HTML>
